@model Fatec_Facilities.Models.Fornecedor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="container bg-light text-dark p-5 rounded my-5 h-50 w-50">
    <h1 class="text-center">Editar um Terceiro</h1>
    <hr class="w-25" />
    <div class="row">
        <div class="col-md-12 mx-auto">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="CNPJ" class="control-label"></label>
                    <input asp-for="CNPJ" class="form-control" />
                    <span asp-validation-for="CNPJ" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Endereco" class="control-label"></label>
                    <input asp-for="Endereco" class="form-control" />
                    <span asp-validation-for="Endereco" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Contato" class="control-label"></label>
                    <input asp-for="Contato" class="form-control" />
                    <span asp-validation-for="Contato" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="Prestador" /> @Html.DisplayNameFor(model => model.Prestador)
                    </label>
                </div>
                <div class="form-group" id="containerSelects">
                    <div>
                        <label for="elProblems" class="control-label d-block">Categorias:</label>
                        @foreach (var item in ViewBag.Categorias)
                        {
                            <div class="form-check form-check-inline">
                                <input name="Categoria" class="form-check-input" type="checkbox" value="@item.Id">
                                <label class="form-check-label" for="inlineCheckbox1">@item.Nome</label>
                            </div>
                        }
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Salvar" class="btn btn-block btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="col text-center">
        <a asp-action="Index"> <i class="fas fa-arrow-left"></i> Voltar para os blocos </a>
    </div>
</div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
